/* Index */

.jumbotron {
    background-image: url("../img/univers-1.jpg");
    background-size: cover;
    text-shadow: 1px 1px 2px black;
}

.sun {
    background-image: url("../img/sun.jpg");
    background-size: cover;
    background-position: center;
}

.mars {
    background-image: url("../img/mars.jpg");
    background-size: cover;
    background-position: center;
}

.saturn {
    background-image: url("../img/saturn.jpg");
    background-size: cover;
    background-position: center;
}

.mercury {
    background-image: url("../img/mercury.png");
    background-size: cover;
    background-position: center;
}

body {
    background-image: url("../img/cosmos.jpg");
    background-attachment: fixed;
    background-size: cover;
}

/* Header */

.logo{
    height: 15%;
    width: 15%;
}

.blog-header{
    background-color: black;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

/* Footer */

.links li{
    list-style: none;
}

/*posts*/

.post{
    background-color: black;
    border: 1px solid white;
}

.system{
    background-image: url("../img/system.jpg");
    background-size: cover;
    text-shadow: 1px 1px 2px black;
    height: 500px;
}
